<h2>Editar Filme</h2>

<%= form_with model: @movie, method: :patch do |f| %>

  <div>
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :release_date, "Data de Lançamento" %>
    <%= f.date_field :release_date %>
  </div>

  <div>
    <%= f.label :rating, "Classificação" %>
    <%= f.select :rating, ["G", "PG", "PG-13", "R", "NC-17"] %>
  </div>

  <%= f.submit "Salvar alterações" %>

<% end %>

<%= link_to "Voltar", movies_path %>