<h2> Editar Filme</h2>

<p><strong>Título: </strong> <%= @movie.title %></p>
<p><strong>Classficação: </strong> <%= @movie.rating %></p>
<p><strong>Data de lançamento: </strong> <%= @movie.release_date %></p>

<div>
  <%= link_to "Salvar alterações", edit_movie_path(@movie) %>
  <%= link_to "Voltar", movies_path %>
</div>