<h1> Rotten Potatoes </h1>

<h1> Todos os Filmes </h1>


<table>
  <thead>
    <tr>
      <th class="<%= 'sorted' if params[:sort_by] == 'title' %>">
        <%= link_to "Título", movies_path(sort_by: 'title'), id: :title_header %>
      </th>
      <th>Classificação</th>
      <th class="<%= 'sorted'  if params[:sort_by] == 'release_date' %>">
        <%= link_to "Lançamento", movies_path(sort_by: 'release_date'), id: :release_date_header %>
      </th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%=  link_to movie.title, movie_path(movie) %>
      </td>
      <td>
        <%= movie.rating %>
      </td>
      <td>
        <%= movie.release_date %>
      </td>
      <td>
        <%= link_to "Editar",edit_movie_path(movie) %>
        <%= button_to "Deletar", movie_path(movie), method: :delete %>
      </td>
    </tr>
    <%end %>
  </tbody>
</table>

<%= link_to "Novo Filme", movies_add_path %>