<!DOCTYPE html>
<html>
  <head>
    <title>RottnPotatoes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
  <header>
    <div class="header-content">
      <span class="header-title">Rotten Potatoes</span>
    </div>
  </header>

  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
